* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:rgb(238, 236, 236);
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.App {
    background-color: rgb(238, 236, 236);
    max-width: 992px;
    margin: auto;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px 20px;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
    padding: 2px 4px;
}
.nav-link {
    display: inline-block;
    margin: 5px;
    border: 1px solid grey;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 8px;
    background-color:rgb(238, 236, 236);
    color: black;
    font-weight: bold;
}
.nav-link:hover {
    border: 1px solid aquamarine;
    background-color: lightgrey;
    transition: all 0.3s ease-in-out;

}
.logo-link {
    color: white;
    list-style: none;
    text-decoration: none;
}
.home-image {
    width: 100%;
    height: 500px;
    background-image: url('https://wow.zamimg.com/uploads/screenshots/normal/875707.jpg');
    background-size: cover;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
.home-image:hover {
    background-image: url('https://wow.zamimg.com/uploads/screenshots/normal/875616.jpg');
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    
}
.container {
    width: 100%;
    height: 100%;
}
.main-content {
    width: 90%;
    margin: auto;
}
.main-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.home-thumbnail-1,
.home-thumbnail-2,
.home-thumbnail-3,
.home-thumbnail-4 {
    background-size: cover;
    width: 300px;
    height: 250px;
    margin: 5px;
    border: solid rgb(104, 212, 245) 4px;
    border-radius: .25rem;
}
.home-thumbnail-1:hover,
.home-thumbnail-2:hover,
.home-thumbnail-3:hover,
.home-thumbnail-4:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.home-thumbnail-1 {
    background-image: url("https://i.pinimg.com/originals/60/0b/91/600b910c2b81bda23ff1cf2b3fe67e80.jpg");
}
.home-thumbnail-2 {
    background-image: url("https://i.pinimg.com/originals/ff/eb/2e/ffeb2e4681802f4dc2a06fd45c15117b.jpg");
}
.home-thumbnail-3 {
    background-image: url("https://i.pinimg.com/736x/a4/55/84/a455849801351d1025c12fc8e894291a.jpg");
}
.home-thumbnail-4 {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/013/143/066/large/blazan-alex-maiev-blaz-1.jpg?1538258091")
}
.thumbnail-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
}
.hero-container {
    display: inline-block;
    text-align: center;
}
.hero-image {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 10px solid;
    border-radius: .2rem;
    border-image: url("https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/dark-grunge-textures-4-780x520.jpg") 10% round;
}
.inner-hero-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.back {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgrey;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: black;
    color:rgb(238, 236, 236);;
    text-decoration: none;
    font-weight: bold;
}